.goal-form-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.add-goal-header-box {
    display: flex;
    justify-content: center;
}

.goal-form-outer-div h1 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
}

.goal-form {
    width: 400px;
    background-color: white;
    margin-top: 0;
    padding: 30px;
    border: 1px solid #738290;
    border-radius: 2px;
}

.goal-form label {
    text-transform: capitalize;
    display: block;
    font-weight: 200;
}
/* 
.input-amt {
    display: flex;
} */


.goal-input {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #738290;
    border-radius: 2px;
    outline: none;
}

.input-amount-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.input-amt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.input-amount {
    display: inline-block;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 24px;
    text-align: center;

}

.input-amt-btn-minus {
    display: inline-block;
    margin-right: 2px;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: #f93943;
    transition: font-size 0.2s;
    font-size: 16px;
    cursor: pointer;
}

.input-amt-btn-plus {
    display: inline-block;
    margin-left: 2px;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: #9eff93;
    transition: font-size 0.2s;
    font-size: 16px;
    cursor: pointer;
}

.input-amt-btn-plus:hover {
    font-size: 22px;
    background-color: #89e07f;
}

.input-amt-btn-minus:hover {
    font-size: 22px;
    background-color:#d82f38;
}

.input-amt-btn-plus:focus {
    outline: none;
}

.input-amt-btn-minus:focus {
    outline: none;
}

.goal-form textarea {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid #738290;
    border-radius: 2px;
    outline: none;
    resize: none;
    overflow: scroll;
}

.timed-optional-txt {
    display: inline-block;
    color: grey;
    font-size: 12px;
    vertical-align: middle;
}

.goal-input-check {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
    height: 13px;
    margin-left: 10px;
}

.goal-submit-div {
    display: flex;
    justify-content: center;
}

.goal-submit-btn {
    width: 100%;
    height: 35px;
    background-color: #738290;
    transition: background-color 0.2s;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
    border-radius: 2px;
    border-style: none;
    cursor: pointer;
}

.goal-submit-btn:hover {
    background-color: #8a9cad;
}