.goal-form-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.goal-form-outer-div h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.goal-form {
    margin-top: 0;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
}

.goal-form label {
    text-transform: capitalize;
    display: block;
}

.goal-input {
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 250px;
}

.input-amount {
    min-width: 100px;
}

.input-amt-btn-minus {

}

.input-amt-btn-plus {

}

.goal-form textarea {
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
    max-height: 200px;
}