.modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.session-form-container {
    width: 300px;
    background: #fffaf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.session-form-container h1 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 20px;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.session-form input {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #738290;
    border-radius: 2px;
    outline: none;
}

input[type='submit'] {
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    background-color: #738290;
    transition: background-color 0.2s;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #8a9cad;
}

.demo-login-btn {
    margin-bottom: 0px;
    width: 100%;
    height: 35px;
    background-color: #738290;
    transition: background-color 0.2s;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #738290;
    /* outline: none; */
}

.demo-login-btn:hover {
    background-color: #8a9cad;
}

.session-form ul {
    width: 100%;
    margin-top: 10px;
}

.session-form li {
    margin-top: 10px;
    font-size: 10px;
    color: #F93943;
}
