.splash {
    display: flex; 
    flex-direction: row; 
    background-color: #fffaf0;
}

.splash-left {
    position: relative; 
    width: 55%;
    height: 700px;
    box-sizing: border-box;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2);
}

.splash-left img {
    position: absolute; 
    left: 0; 
    height: 100%;
    width: 100%; 
    object-fit: cover;
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-direction: alternate; 
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.splash-img-1 {
    animation-delay: 10s;
}

.splash-img-2 {
    animation-delay: 6s;
}

.splash-img-3 {
    animation-delay: 2s;
}

.splash-right {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 45%;
    box-sizing: border-box;
    padding: 2%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.splash-right .splash-logo {
    font-size: 7em;
    font-weight: 100; 
    padding: 5px 0;
}

.splash-right .auth-modal {
    position: absolute; 
    font-size: 1.2em;
    right: 0;
    top: 0;
    padding: 40px; 
    font-weight: 300; 
}

.splash-right .auth-modal strong {
    transition: font-size 0.2s ease-in-out; 
}

.splash-right .auth-modal strong:hover {
    cursor: pointer;
    font-size: 1.25em;
}

.splash-right p {
    margin-left: 12px;
    margin-top: 10px;
}

.splash-btm {
    display: flex;
    height: 20%;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    background-color: white;
   
}

.splash-btm-text {
    /* background-color: #fffaf0;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.39);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.39);   */
}

.splash-btm p {
    padding: 10px;
}